<div class="row">
  <div class="col-3" align="center">
    <img [src]="'assets/logoUaz.png'" alt="image">
  </div>
  <div class="col-6">
    <div class="jumbotron">
      <h1>Red de Distribución de Agua Potable</h1>
      <hr>
      <p>La siguiente página administra de manera remota el acceso de los Galileo y los datos de lectura que realizan</p>
    </div>
  </div>
  <div class="col-3" align="center">
    <button type="button" mat-raised-button class="logout fa fa-sign-out" (click)="logout()"> Salir</button>
  </div>
</div>