@import '../../sass/styles.scss';
.jumbotron {
  margin: auto;
  text-align: center;
  background: $inset;
  color: $colorBackground;
  padding: 2rem 2rem;
}
img {
  width: 50%;
}
.logout {
  width: 60%;
  margin: auto;
  background: $inset;
  color: $colorBackground;
  margin-top: 65px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logout:hover {
  background: $colorGradient1;
}
.fa {
  color: $colorBackground;
}