    /* Colores Tema*/
    $colorSeleccion: #cc0000;
    $background: #1b1b1b;
    $colorBackground: #fff;
    $backgroundForm: #111;
    $borderForm: #191919;
    $inset: #19191a;
    $colorPrincipal: #000;
    $colorSecundario: #ffffff;
    $colorTerciario: #B6FF00;
    $h1: #FFbb00;
    $disabled: #999;
    $colorForBack: #bbb;
    $colorInputSubmit: #fb0;
    $colorSubmit: #873C00;
    $colorSpan: #0d93ff;
    $colorDenied: #EE0000;
    $labelHover: #27292c;
    $checkboxBack: red;
    $checkboxOuter: #555;
    $checkboxColor: #333;
    $checkboxChecked: #ffcc00;
    $colorErrorLogin: #a94442;
    $backgroundColorError: #f2dede;
    $borderColorError: #EBCCD0;
    $bordeFieldset: #000000;
    $colorGradient1: #1f2124;
    $colorGradient2: #27292c;
    $borderInput: #222;
    $colorSuccess: rgb(149, 212, 138);

