
    $colorPrincipal: #2980b9 /*#2288dd*/;/*Color principal botones y contenedores*/
    $colorSecundario: #ebebeb;/*Color secundario botones y contenedores*/
    $colorTextos: #ffffff;/*Color para textos e iconos*/
    $colorAceptar: #474747;/*Color boton Aceptar*/
    $colorCerrar:  #e74c3c;/*Color boton cerrar*/
    /*Varibles para color hover botones*/
    $colorhoverboton: #3498db /*#1177cc*/;/*color principal botones hover */
    $colorAceptarhover: #1177cc;/*Color hover boton Aceptar*/
    $colorCerrarhover: #c0392b;/*Color hover boton cerrar*/
    /*Variables color inputs*/
    $colorinput: #95a5a6;/*Color input inactivo*/
    $colorinputactivo: #bdc3c7 ;/*color inputs activo*/
    $colorTextoLabel: #666D70; /*color texto label*/
