<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="message" [@enterAnimation]>{{message}}</div>
<div [@fadeInOut]>
  <app-header></app-header>
  <br>
  <div class="row">
    <div class="col-5">
      <form #createPanel="ngForm" (ngSubmit)="validate(createPanel)" novalidate class="modalTheme">
        <h1 id="litheader">Crear acceso de Galileo</h1>
        <div class="inset">
          <input class="form-control" type="text" ngModel name="nombre" #nombre="ngModel" placeholder="Nombre o descripción"
            required>
          <input class="form-control" type="text" ngModel name="calle" #calle="ngModel" placeholder="Calle">
          <input class="form-control" type="text" ngModel name="numero" #numero="ngModel" placeholder="Número">
          <input class="form-control" type="text" ngModel name="colonia" #colonia="ngModel" placeholder="Colonia">
          <input class="form-control" type="text" ngModel name="municipio" #municipio="ngModel" placeholder="Municipio">
          <input class="form-control" type="text" ngModel name="estado" #estado="ngModel" placeholder="Estado" required>
          <input class="form-control" type="text" ngModel name="pais" #pais="ngModel" placeholder="País" required>
        </div>
        <p class="p-container" *ngIf="!flagEdit">
          <input type="submit" name="Crear" value="Crear" [disabled]="flagError">
        </p>
        <div class="row p-container2" *ngIf="flagEdit">
          <div class="col-5">
            <input type="button" name="cancelar" value="Cancelar" (click)="cancelModify(createPanel)">
          </div>
          <div class="col-2"></div>
          <div class="col-5">
            <input type="button" name="modificar" value="Modificar" (click)="saveChanges(createPanel)">
          </div>
        </div>
      </form>
    </div>
    <div class="col-7">
      <div class="modalTheme table">
        <h1 id="litheader">Tabla de registros</h1>
        <div class="inset scroll">
          <table mat-table [dataSource]="galileos" class="mat-elevation-z8">
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element._id}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="ubicacion">
              <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
              <td mat-cell *matCellDef="let element"> {{element.ubicacion.calle}} </td>
            </ng-container>

            <ng-container matColumnDef="presion">
              <th mat-header-cell *matHeaderCellDef> Presion </th>
              <td mat-cell *matCellDef="let element"> {{element.datos.presion ? element.datos.presion : 'No se han
                tomado lecturas'}} </td>
            </ng-container>

            <ng-container matColumnDef="flujo">
              <th mat-header-cell *matHeaderCellDef> Flujo </th>
              <td mat-cell *matCellDef="let element"> {{element.datos.flujo ? element.datos.flujo : 'No se han tomado
                lecturas'}} </td>
            </ng-container>

            <ng-container matColumnDef="nivel">
              <th mat-header-cell *matHeaderCellDef> Nivel </th>
              <td mat-cell *matCellDef="let element"> {{element.datos.nivel ? element.datos.nivel : 'No se han tomado
                lecturas'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowSelect(row)" [ngClass]="{'rowSelected': galileoSelected && galileoSelected._id === row._id}"></tr>
          </table>
          <div class="footer">
            <button mat-raised-button (click)="openDialog()" [disabled]="!galileoSelected">Graficar</button>
            <button mat-raised-button (click)="modify(createPanel)" [disabled]="!galileoSelected">Modificar</button>
            <button mat-raised-button (click)="delete()" [disabled]="!galileoSelected">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>